SFB_DB_USER=auscope
SFB_DB_PASSWD=password
SFB_DB_HOST=127.0.0.1
SFB_DB_NAME=auscopeDB
SFB_EMAIL=noreply.vlbi@utas.edu.au
SFB_SMTP_HOST=postoffice-server
SFB_SMTP_PORT=587
SFB_TLS_USER=user-account
SFB_TLS_PASSWD=user-password
