# stupid mac/finder files
**._*
# pycharm config stuff
**__pycache__**
# the actual final reports
**reports/
**.pdf
**_files
# various test stuff
**_v1*
**_v2*
**.tmp
**junk
**.txt
**.test
**.ipynb
# the pipenv config
Pipfile
# the glovdh api cache
**.csv
