.env
# stupid mac/finder files
**._*
# pycharm config stuff
**__pycache__**
**.idea**
**.venv**
# the actual final reports
**reports/
**.pdf
**_files
# various test stuff
**_v1*
**_v2*
**.tmp
**junk
**.txt
**.test
**.ipynb
# the pipenv config
Pipfile
# the glovdh api cache
**.csv
#
ESL-NOTES.md
test-run.sh
**.bak
**server-config.yaml
**config.yaml
# analysis data
**analysis_reports
**corr_files
**skd_files
**stat_pos_data
**station_position_data
**master*.txt
**example-*
**.bak

