<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ filename }}</title>
    <style>
        {{ css|safe }}
    </style>
</head>
<body>
    <div class="report">
        <header>
            <h1>{{ station }} Data</h1>
        </header>
        <main>
            <div class="summary">
                <p><strong>{{ station }}</strong> data extracted for time range: <strong>{{ start_time }}</strong> through <strong>{{ stop_time }}</strong></p>
                <div class="intro">
                    {% if total_sessions %}
                        <p>Total number of <strong>{{ station }}</strong> sessions found in database for this time range: <strong>{{ total_sessions }}</strong></p>
                    {% endif %}
                    {% if total_observations %}
                        <p>Total number of <strong>{{ station }}</strong> observations across all sessions in this time range: <strong>{{ total_observations }}</strong></p>
                    {% endif %}
                </div>
                {% if wrms_analysis or performance_analysis %}
                    <div class="analysis">
                        {% if wrms_analysis %}
                            <h3>WRMS Analysis</h3>
                            <p>This is a measure of the station's contribution to the weighted RMS of the delay measurement.</p>
                            <p>{{ wrms_analysis }}</p>
                        {% endif %}
                    </div>
                    <div class="analysis">
                        {% if performance_analysis %}
                            <h3>Performance Analysis</h3>
                            <p>Performance is measured as the ratio between the number of observations used in analysis versus the number of scheduled observations for the station.</p>
                            <p>{{ performance_analysis }}</p>
                        {% endif %}
                    </div>
                {% endif %}
                {% if detectX_img or detectS_str %}
                    <div class="detection-rates">
                        <h3>Detection Rates</h3>
                        <p>Detection rates are measured as the ratio between number of successful detections (with quality code > 6) versus the number of correlated observations.</p>
                        {% if detectX_str %}
                            <h4>X Band:</h4>
                            <p>{{ detectX_str }}</p>
                        {% endif %}
                        {% if detectS_str%}
                            <h4>S Band:</h4>
                            <p>{{ detectS_str }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="page-break"></div>
            <div class="figures section">
                <h2>Figures</h2>
                {% if wrms_img %}
                    <figure class="image">
                        <img src="data:image/png;base64,{{ wrms_img }}" alt="Wrms Image" width="300">
                        <figcaption>
                            <p>W_rms</p>
                        </figcaption>
                    </figure>
                {% endif %}
                {% if perf_img %}
                    <figure class="image">
                        <img src="data:image/png;base64,{{ perf_img }}" alt="Performance Image" width="300">
                        <figcaption>
                            <p>Performance metric against time.</p>
                        </figcaption>
                    </figure>
                {% endif %}
                <div class="page-break"></div>
                {% if detect_images %}
                    <div class="detection-images section">
                        <h3>Detections</h3>
                        {% for band, img in detect_images.items %}
                            {% if img %}
                                <figure class="image">
                                    <img src="data:image/png;base64,{{ img }}" alt="{{ band }} Band Detections" width="300">
                                    <figcaption>
                                        <p>{{ band|upper }} band detections.</p>
                                    </figcaption>
                                </figure>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="page-break"></div>
                {% if pos_images %}
                    <div class="position-images section">
                        <h3>Positions</h3>
                        {% for coord, img in pos_images.items %}
                            {% if img %}
                                {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                                    <div class="page-break"></div>
                                {% endif %}
                                <figure class="image">
                                    <img src="data:image/png;base64,{{ img }}" alt="{{ coord }} Position" width="300">
                                    <figcaption>
                                        <p>{{ coord }} Position</p>
                                    </figcaption>
                                </figure>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="page-break"></div>
                {% if glovdh_images %}
                    <div class="glovdh-images section">
                        <h3>GLOVDH API Schedule Breakdown</h3>
                        <p>The following figures are produced using the API of <a href="https://glovdh.ethz.ch/general">link</a>https://glovdh.ethz.ch/</p>
                        {% for stat_type, img in glovdh_images.items %}
                            {% if img %}
                                {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                                    <div class="page-break"></div>
                                {% endif %}
                                <figure class="image glovdh-image">
                                    <img src="data:image/png;base64,{{ img }}" alt="{{ stat_type }} ..." width="300">
                                    <figcaption>
                                        <p>{{ stat_type }} ...</p>
                                    </figcaption>
                                </figure>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="page-break"></div>
            {% if problems %}
                <div class="issues">
                    <h2>Reported Issues</h2>
                    <div class="problems-list">
                        <p> The following are extracted from correlation reports.</p>
                        <ul>
                            {% for problem in problems %}
                                <li>{{ problem|linebreaksbr|safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}
            <div class="page-break"></div>
            {% if table_data %}
                <div class="table-section">
                    <h2>Tabulated Data</h2>
                    <div class="table-container">
                        {{ table_data|safe }}
                    </div>
                    <div class="about">
                        <p>An online version of this table may be found at the following <a href="">site</a>.</p>
                    </div>
                </div>
            {% endif %}
            {% if more_info %}
                <div class="more-info">
                    <h2>Additional Information</h2>
                    <p>{{ more_info }}</p>
                </div>
            {% endif %}
            <div class="page-break"></div>
            <div class="about">
                <h3>About</h3>
                <p>This document is automatically generated from the station correlation reports via a series of python scripts. As such, please comment or alert the creators of any apparent issues at the following address <a href="mailto:email@example.com">email</a>.</p>
                <p>More information on this project as well as the source code may be found at the following <a href="">link</a>.</p>
            </div>
        </div>
    </main>
</body>
</html>
