<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="report">
        <div class="page">
            <h1>{{ title }}</h1>
            <div class="intro">
                <p>{{ intro }}</p>
            </div>
        </div>

        <div class="page-break"></div>

        <div class="page">
            <div class="stats">
                <p><strong>Total number of {{ station }} sessions found in database for this time range:</strong> {{ total_sessions }}</p>
                <p><strong>Total number of {{ station }} observations across all sessions in this time range:</strong> {{ total_observations }}</p>
            </div>
        </div>

        <div class="page-break"></div>

        <div class="page">
            <div class="analysis">
                <h2>WRMS Analysis</h2>
                <p>Median station W.RMS over period: {{ wrms_analysis }}</p>
            </div>

            <div class="analysis">
                <h2>Performance Analysis</h2>
                <p>Median station 'Performance' (used/scheduled) over period:ls{{ performance_analysis }}</p>
            </div>
        </div>

        <div class="page-break"></div>

        <div class="page">
            <div class="detection-rates">
                <h3>Detection Rate (X Band):</h3>
                <p>{{ detectX_str }}</p>

                <h3>Detection Rate (S Band):</h3>
                <p>{{ detectS_str }}</p>
            </div>
        </div>

        <div class="page-break"></div>

        <div class="page">
            <div class="images">
                {% for image in images %}
                    <div class="image">
                        <img src="data:image/png;base64,{{ image.image_base64 }}" alt="Image" width="300">
                        <div class="comment">
                            <p>{{ image.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="page-break"></div>

        <div class="page">
            <div class="more-info">
                <p>{{ more_info }}</p>
            </div>
        </div>
    </div>
</body>
</html>
