@page {
    size: A4;
}

.page-break {
    page-break-before: always;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*** general ***/

html, body {
    height: auto;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

.report {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}

/*** headings ***/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4edda;
    padding: 20px;
    border-bottom: 3px solid #a3d4ab;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #155724;
}

.logo {
    height: 50px;
}

h1, h2, h3 {
    color: #154734;
    text-align: center;
}

h2 {
    font-size: 20px;
    border-bottom: 2px solid #a3d4ab;
    padding-bottom: 5px;
    margin-top: 30px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

/*** table stuff ***/

.table-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 20px;
    page-break-inside: auto;
}

th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.table {
    font-size: 12px;
    margin-top: 20px;
    overflow: hidden;
}

tr, td, th {
    page-break-inside: avoid;
    font-size: 10px;
}

td {
    word-wrap: break-word;
    padding: 2px 5px;
}

th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table {
    page-break-inside: auto;
    border-collapse: collapse;
    width: 100%;

}

tr, img {
    page-break-inside: avoid;
}

/**** problems list ****/

.problems-list {
    background-color: #f8d7da;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.problems-list p {
    font-weight: bold;
}

.problems-list ul {
    list-style-type: disc;
    padding-left: 20px;
}

/*
.problems-list li {
    font-size: 14px;
    margin-bottom: 10px;
    color: #721c24;
}
*/

/*** sections ***/

.summary, .figures, .more-info {
    margin-bottom: 30px;
    padding: 10px;
}

.stats, .analysis, .detection-rates {
    padding: 0.5rem;
    background: #f8f9fa;
    border-radius: 2px;
}

.section {
    margin-top: 50px;
}

.about {
    text-align: center;
    font-size: 0.8rem;
    padding: 20px;
    border-top: 2px solid #a3d4ab;
}


/*** images ***/

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.comment {
    font-style: italic;
    color: #555;
    margin-top: 5px;
    font-size: 0.8rem;
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
}

.image-section .image {
    width: 350px;
    height: auto;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 5px;
}
