@page {
    size: A4;
    margin: 2mm 2mm;
}

.page-break {
    page-break-before: always;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    height: 10px;
}

/*** general ***/

html, body {
    height: auto;
    font-family: 'Helvetica', sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.2;
    font-size: 14px;
}

.report {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}

/** title bar **/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 3px solid #a3d4ab;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #155724;
}

.logo img {
    height: 5rem;
    width: auto;
}

header .heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header p {
    margin: 0;
    padding: 0.05rem;
}

/*** headings ***/

h1, h2, h3 {
    color: #0e3124;
    text-align: left;
}

h2 {
    font-size: 20px;
    border-bottom: 2px solid #a3d4ab;
    padding-bottom: 10px;
    margin-top: 30px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

/* h3::after {
    content: "";
    display: block;
    width: 100%;
    max-width: 600px;
    height: 2px;
    background-color:  #a3d4ab;
    margin: 8px auto 0;
} */

/*** table stuff ***/

.table-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
}

.table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    margin-bottom: 20px;
    page-break-inside: auto;
    font-size: 12px;
    margin-top: 20px;
    overflow: hidden;
    page-break-inside: auto;
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #f2f2f2;
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    word-wrap: break-word;
    padding: 2px 5px;
    font-size: 10px;
}

tr, td, th {
    page-break-inside: avoid;
    font-size: 10px;
}

/**** problems list ****/

.problems-list {
    background-color: #f8d7da;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
}

.problems-list p {
    font-weight: bold;
}

.problems-list ul {
    list-style-type: none;
    padding-left: 20px;
}

.problems-list li {
    font-size: 12px;
    margin-bottom: 10px;
    color: #721c24;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 10px;
}

/*** sections ***/

.summary, .figures, .more-info {
    margin: 5px;
    margin-bottom: 30px;
    padding: 20px;
}

.intro, .analysis, .detection-rates {
    padding: 0.5rem;
    background: #f8f9fa;
    border-radius: 2px;
    margin-bottom: -20px;
}

.about {
    text-align: center;
    font-size: 0.8rem;
    padding: 10px;
}

/*** images ***/

.image {
    page-break-inside: avoid;
    margin-bottom: 2px;
}

figcaption {
    font-style: italic;
    color: #555;
    font-size: 0.8rem;
    text-align: center;
    margin-top: -10px;
    padding-top: 0;
    display: block;
}

.image img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 5px;
    page-break-inside: avoid;
    margin-bottom: 0px;
}

.position-images img {
    height: 200px;
    object-fit: contain;
}

.glovdh-image {
    margin-right: 8rem;
    margin-top: 2rem;
    padding: 2rem;
    padding-right: 4rem;
}


/* Testing */
.figure-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.figure-grid .image {
    flex: 0 1 calc(50% - 20px); /* Two per row */
    box-sizing: border-box;
}
