        /* Set the page size and margins for the PDF */
        @page {
            size: A4;
        }

        /* Page break class for forcing new pages */
        .page-break {
            page-break-before: always;
        }

        /* Prevent body and html from exceeding the content area */
        html, body {
            height: auto;
            background-color: #fff;
        }

        /* Forcing page break inside a table to avoid content overflow */
        table {
            page-break-inside: auto;
        }

        /* Prevent row breaks in the middle of the row */
        tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        /* Prevent image break in the middle of the image */
        img {
            page-break-inside: avoid;
        }

        /*******/

        .report {
            margin: 10px auto;
            background-color: #fff; /*fff*/
            padding: 10px;
        }

        /*******/

        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #d4edda;
            padding: 20px;
            border-bottom: 2px solid #a3d4ab;
        }
        
        h1 {
            margin: 0;
            font-size: 2rem;
            text-align: center;
        }

        h2 {
            padding: 1rem;
            margin-bottom: 1rem;
        }

        h2, h3 {
            color: #333;
            border-bottom: #aaa;
            padding-bottom: 0.5rem;
            text-align: center;
        }

        main {
            margin: 1rem;
            padding: 1rem;
        }

        .summary {
            line-height: 1.6;
            color: #333;
            margin-bottom: 20px;
        }

        .stats p {
            color: #333;
        }

        .images {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .image {
            text-align: center;
            width: 400px;
            height: auto;
            margin-bottom: 20px;
            page-break-inside: avoid;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .comment {
            font-style: italic;
            color: #555;
            text-align: center;
        }

        .more-info {
            margin-top: 30px;
            padding-top: 20px;
            text-align: center;
        }

        .more-info p {
            font-size: 1.1em;
            color: #333;
        }
